


 .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.homecontainer {
  width: 70%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heading > p {
  font-family: Roboto, sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #7E22CE;
}

.homepageimage {
  width: 100%;
  max-width: 350px;
  height: auto;
  border: 1px solid green;
  margin-top: 10px;
}

.homepageimage > img {
  width: 100%;
  height: auto;
}

.paragraph {
  width: 100%;
  max-width: 700px;
  color: #838383;
  text-align: center;
  margin: 10px 0;
}

.create {
  width: 250px;
  height: 45px;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  margin-top: 20px;
}

.create > img {
  margin-left: 3px;
  height: 30px;
  width: 30px;
}

.create-project {
  width: 200px;
  height: 40px;
  font-size: 20px;
  font-weight: 600;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

.create:hover {
  cursor: pointer;
  border: 2px solid gray;
}

.modales {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modales-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 90%;
  max-width: 600px;
  text-align: left;
  border-radius: 5px;
}

.modales-content h2 {
  margin-top: 0;
}

.modales-content p {
  margin: 10px 0;
}

.modales-content input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error-message {
  color: red;
  font-size: 14px;
}

.modales-buttons {
  display: flex;
  justify-content: flex-end;
}

.modales-buttons button {
  margin-left: 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modales-buttons .cancel-button {
  background-color: transparent;
  color: red;
}

.modales-buttons .cancel-button:hover {
  border-bottom: 1px solid red;
}

.modales-buttons .create-button {
  background-color: #7E22CE;
  color: white;
}

@media (max-width: 768px) {
  .homecontainer {
      width: 90%;
  }

  .heading > p {
      font-size: 35px;
  }

  .paragraph {
      font-size: 14px;
  }

  .create-project {
      font-size: 16px;
  }
}

@media (max-width: 480px) {
  .create {
      flex-direction: column;
      height: auto;
      padding: 10px;
  }

  .create > img {
      margin: 0;
      margin-bottom: 10px;
  }

  .create-project {
      width: 100%;
  }
}

