
  
  .sidebar {
    width: 380px;
    height: 100vh; 
    padding-top: 16px;
    border-radius: 0 21px 21px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F3E8FF;
  }
  
  .icon-image {
    width: 350px;
    height: 50px;
    padding: 11px 11px 11px 21px;
    display: flex;
    align-items: center;
    gap: 13px;
  }
  
  .logoimage, .logoname {
    height: 40px;
  }
  
  .containerbox {
    width: 380px;
    margin-top: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .container-value {
    width: 100%; 
    padding: 0 15px; 
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
  }
  
  .values {
    width: 80%; 
    height: 40px;
    border-radius: 20px;
    padding: 5px 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    color: gray;
    background-color: #F3E8FF;
    transition: background-color 0.3s, color 0.3s;
    justify-content: flex-start; 
  }
  
  .icons {
    margin-right: 10px;
  }
  
  .text {
    flex: 1; 
  }
  
  .values:hover {
    color: #fff;
    background-color: purple;
  }
  
  .help-button {
    width: 80%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    border-radius: 21px;
    margin-bottom: 10px;
  }
  
  .help-icon {
    font-size: 24px;
    color: gray;
  }
  
  .user-profile {
    width: 80%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    border-radius: 0 0 21px 21px;
    margin-bottom: 20px;
  }
  
  .user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .username {
    font-weight: bold;
    color: gray;
  }
  .values {
    width: 80%; 
    height: 40px;
    border-radius: 20px;
    padding: 5px 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    color: gray;
    background-color: #F3E8FF;
    transition: background-color 0.3s, color 0.3s;
    justify-content: flex-start; 
  }
  
  .values.active {
    color: #fff;
    background-color: purple;
  }
  
  .values:hover {
    color: #fff;
    background-color: purple;
  }
  .username:hover{
    cursor: pointer;
  }
  
  


  